<!DOCTYPE html>
<html>
<head>
  <title>Dove Login</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app="ReplugApp">
<hgroup>
  <h1>Dove Login</h1>
  <h3>By Tosin Bot</h3>
</hgroup>
<div ng-controller="LoginCtrl">
<form name="doveLogin" ng-submit="onSubmit(userInfo)" novalidate>
<div ng-show="showForm">
 <div class="group">
    <input type="text" ng-model="userInfo.username" required><span class="highlight"></span><span class="bar"></span>
    <label>Username</label>
  </div>
  <div class="group">
    <input type="password" ng-model="userInfo.password" required><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <button type="submit" ng-disabled="doveLogin.$invalid" class="button buttonBlue">Login
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  </div>
 <img src="img/working.gif" ng-show="showLoader">
 <div ng-show="showResult">
 <div class="group">
<span class="highlight"></span><span class="bar">&nbsp;</span>   
 <label>{{loggedUser}}</label>
 </div>
  <div class="group">
    <span class="highlight"></span><span class="bar">&nbsp;</span>
    <label>{{loggedPassword}}</label>
  </div>
  <button type="button" ng-click="doLogout()" class="button buttonBlue">Logout
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  </div>
</form>

</div>
<footer><a href="http://replug.net/" target="_blank"><img src="img/p-logo.svg"></a>
  <p>You Gotta Love <a href="http://replug.net/" target="_blank">Replug</a></p>
</footer>

<script src="js/material.js" type="text/javascript"></script>
<script src="js/controller.js" type="text/javascript"></script>
</body>
</html>